In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import_data = pd.read_csv('2018-2010_import.csv')
export_data = pd.read_csv('2018-2010_export.csv')

# Top level understanding of the data

In [3]:
import_data.head()

,HSCode,Commodity,value,country,year
0,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",0.00,AFGHANISTAN TIS,2018
1,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,12.38,AFGHANISTAN TIS,2018
2,8,EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR...,268.60,AFGHANISTAN TIS,2018
3,9,"COFFEE, TEA, MATE AND SPICES.",35.48,AFGHANISTAN TIS,2018
4,11,PRODUCTS OF THE MILLING INDUSTRY; MALT; STARCH...,NaN,AFGHANISTAN TIS,2018

In [4]:
export_data.head()

,HSCode,Commodity,value,country,year
0,2,MEAT AND EDIBLE MEAT OFFAL.,0.18,AFGHANISTAN TIS,2018
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.00,AFGHANISTAN TIS,2018
2,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,12.48,AFGHANISTAN TIS,2018
3,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,0.00,AFGHANISTAN TIS,2018
4,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,AFGHANISTAN TIS,2018

In [5]:
export_data.describe()

              HSCode          value           year
count  137023.000000  122985.000000  137023.000000
mean       51.330302      21.567829    2014.056304
std        28.018026     229.701279       2.580160
min         1.000000       0.000000    2010.000000
25%        28.000000       0.030000    2012.000000
50%        52.000000       0.360000    2014.000000
75%        74.000000       3.770000    2016.000000
max        99.000000   19805.170000    2018.000000

In [6]:
import_data.describe()

             HSCode         value          year
count  93095.000000  79068.000000  93095.000000
mean      53.849573     63.289855   2014.654740
std       27.567486    666.652363      2.702373
min        1.000000      0.000000   2010.000000
25%       30.000000      0.030000   2012.000000
50%       54.000000      0.380000   2015.000000
75%       78.000000      4.910000   2017.000000
max       99.000000  32781.570000   2018.000000

In [7]:
import_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93095 entries, 0 to 93094
Data columns (total 5 columns):
HSCode       93095 non-null int64
Commodity    93095 non-null object
value        79068 non-null float64
country      93095 non-null object
year         93095 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.6+ MB

In [8]:
export_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137023 entries, 0 to 137022
Data columns (total 5 columns):
HSCode       137023 non-null int64
Commodity    137023 non-null object
value        122985 non-null float64
country      137023 non-null object
year         137023 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.2+ MB

# Data Cleaning
## Cleaning import data

In [9]:
import_data.isnull().sum()

HSCode           0
Commodity        0
value        14027
country          0
year             0
dtype: int64

In [10]:
import_data.duplicated().sum()

18002

In [11]:
import_data['country']=import_data['country'].replace('UNSPECIFIED',np.NaN)

In [12]:
import_data = import_data[import_data['value']>0]

In [13]:
import_data.dropna(inplace=True)
import_data.drop_duplicates(keep='first', inplace=True)

In [15]:
import_data.isnull().sum()

HSCode       0
Commodity    0
value        0
country      0
year         0
dtype: int64

## Cleaning export data

In [16]:
export_data.isnull().sum()

HSCode           0
Commodity        0
value        14038
country          0
year             0
dtype: int64

In [17]:
export_data['country']=export_data['country'].replace('UNSPECIFIED',np.NaN)
export_data.dropna(inplace=True)
export_data=export_data[export_data['value']>0]
export_data.drop_duplicates(inplace=True)

In [18]:
export_data.isnull().sum()

HSCode       0
Commodity    0
value        0
country      0
year         0
dtype: int64

In [19]:
col = {'HSCode':'HSCODE', 'Commodity':'COMMODITY', 'value':'VALUE', 'country':'COUNTRY','year':'YEAR'}
import_data.rename(columns = col,inplace=True)
export_data.rename(columns=col, inplace=True)

Done :)

In [20]:
import_data.to_csv('Import.csv')
export_data.to_csv('Export.csv')